$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quaternary-color: #FA9500;
$primary-text-color: #7C6A0A;
$font-stack:'IBM Plex Sans', sans-serif;
$paragraph-size:1.5em;
