@import '../../styles/variables.scss';

.main-section {
  article {
    width: auto;
    color: $primary-text-color;
    padding: 70px 45px 0 45px;
    display: flex;
    justify-content: space-between;
    .impact-section  {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      gap: 25px;
    }
    h1 {
      font-size: 3em;
      margin: 0;
    }
    p {
      font-size: $paragraph-size;
    }
    button {
      width: 12vw;
      padding: 20px;
      background-color: $quaternary-color;
      border-style: none;
      border-radius: 35px;
      color: white;
      font-size: 1em;
    }
    img {
      width: 25vw;
      border-radius: 19px;
    }

  }
  section {
    width: auto;
    height: auto;
    padding: 60px;
    h2 {
      color: $primary-text-color;
      font-size: 2em;
    }
    .healthcare {
      padding-bottom: 60px;
      h2 {
        font-weight: 300;
        padding-bottom: 60px;
      }
      .card-section {
        display: flex;
        width: auto;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 100px;
        row-gap: 80px;
      }
      .product-card {
        width: 14vw;
        height: 45vh;
        background-color: $secondary-color;
        color: $primary-text-color;
        padding: 20px;
        border-radius: 8px;
        .icon {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          padding-bottom: 12px;
          svg {
            width: 28px;
            height: 28px;
            path {
              stroke: $primary-text-color;
            }
          }
        }
        .product-image {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 12vw;
            height: 30vh;
            object-fit: cover;
            border-radius: 6px;
          }
        }
      }
    }
    .furniture {
      @extend .healthcare;
      .product-card {
        background-color: $tertiary-color;
        color: white;
      }
    }
  }
}