@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.header {
  width: auto;
  @include flexCenter(row, space-between,center);
  color: $primary-text-color;
  padding: 40px 60px;
  p {
    font-size: $paragraph-size;
  }
  .icons {
    display: flex;
    gap:15px;
    @include buttonStyle;
  }
}